* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.container {
  display: grid;
  width: 800px;
  grid-template-columns: 2fr 3fr 3fr 2fr;
  grid-template-rows: auto;
  gap: 0;
  border-collapse: collapse;
  text-align: center;
}

.header {
  background-color: #217346; 
  color: white;
  font-weight: 700;
  padding: 20px;
  /* border: 1px solid black; */
}

.row-title {
  background-color: #e9ecef; 
  font-weight: 500;
  padding: 20px;
  /* border: 1px solid black; */
}

.container > div {
  padding: 20px;
  /* border: 1px solid black; */
}
